.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color:burlywood;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Home{
  background-color:burlywood;
  
  font-weight: bold;
  
  text-align: center;
}

h1 {
  color:black;
}

body {
  background-color: burlywood;
}



.Nav{
  width: 20%;
  max-width: 300px;
  flex-direction: column;
  display: flex;

}

.container{
  display: flex;
  flex-direction: row;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

.Login {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Logout {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.username {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trades {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lookup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
